@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    input,
    textarea,
    select,
    button {
        @apply text-base;
        /* Prevent auto-zoom on iOS */
    }

    /* Smooth scrolling for anchor links */
    html {
        scroll-behavior: smooth;
    }
}